.active-tab-indicator {
  padding-bottom: 2px;
}

.oh-panel {
  border-color: var(--oh-border) !important;
  box-shadow: var(--oh-shadow-sm) !important;
  border-radius: var(--oh-radius-lg) !important;
  background: var(--oh-surface) !important;
}

.cursor-pointer {
  cursor: pointer;
}

// Custom overrides to clean up Material inputs for the Announcements feature
::ng-deep {
  .oh-compact-field {
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }

    .mat-mdc-text-field-wrapper {
      height: 48px !important;
    }

    .mat-mdc-form-field-flex {
      align-items: center !important;
    }

    .mat-mdc-form-field-infix {
      padding-top: 12px !important;
      padding-bottom: 12px !important;
    }
  }

  .mdc-text-field--textarea-flat {
    .mdc-text-field--outlined {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }

    textarea.mat-mdc-input-element {
      margin-top: 0 !important;
    }
  }
}
