<div class="oh-linechart" [class]="'oh-linechart--' + color">
  <svg
    [attr.viewBox]="'0 0 ' + vbWidth + ' ' + vbHeight"
    preserveAspectRatio="none"
    class="oh-linechart__svg"
    (pointermove)="onMove($event)"
    (pointerleave)="onLeave()"
  >
    <defs>
      <linearGradient id="oh-linechart-fill" x1="0" y1="0" x2="0" y2="1">
        <stop offset="0%" class="oh-linechart__stop-top" />
        <stop offset="100%" class="oh-linechart__stop-bottom" />
      </linearGradient>
    </defs>

    <line
      *ngFor="let g of gridSteps"
      class="oh-linechart__grid"
      [attr.x1]="plotLeft"
      [attr.x2]="plotRight"
      [attr.y1]="gridY(g)"
      [attr.y2]="gridY(g)"
    />

    <path [attr.d]="areaPath" fill="url(#oh-linechart-fill)" class="oh-linechart__area" />
    <path [attr.d]="linePath" class="oh-linechart__line" />

    <line
      *ngIf="hoverIndex !== null"
      class="oh-linechart__crosshair"
      [attr.x1]="coords[hoverIndex].x"
      [attr.x2]="coords[hoverIndex].x"
      [attr.y1]="plotTop"
      [attr.y2]="plotBottom"
    />

    <circle
      *ngFor="let c of coords; let i = index"
      class="oh-linechart__dot"
      [attr.cx]="c.x"
      [attr.cy]="c.y"
      [attr.r]="hoverIndex === i ? 5 : 0"
    />

    <text *ngFor="let c of coords" class="oh-linechart__label" [attr.x]="c.x" [attr.y]="labelY" text-anchor="middle">{{ c.label }}</text>
  </svg>

  <div
    *ngIf="hoverIndex !== null"
    class="oh-linechart__tooltip"
    [style.left.%]="leftPercent(coords[hoverIndex].x)"
    [style.top.%]="topPercent(coords[hoverIndex].y)"
  >
    <span class="oh-linechart__tooltip-label">{{ coords[hoverIndex].label }}</span>
    <strong class="oh-linechart__tooltip-value">{{ coords[hoverIndex].value }}{{ unit }}</strong>
  </div>
</div>
